.header{
    width: calc(100% - (2 * $section-margin-lr));
    margin: 50px $section-margin-lr;
    margin-top: 170px;
    &__hello{
        color: #0D7377;
        color: $decoration-primary;
        font-size: 18px;
        margin-bottom: 18px;
    }
    &__title{
        font-size: 75px;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        margin: 0;
        color: $secondary-color;
        // color: #0D7377;
        line-height: 1.25;
        &--sub{
            font-size: 70px;
            font-weight: 500;
            font-family: 'Kanit', sans-serif;
            color: $decoration-primary;

            margin: 0;
            line-height: 1;
        }

        }
    &__presentation{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 18px;
    }

}