.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100vw - (2 * $section-margin-lr));
    height: 90px;
    margin: 0;
    padding: 0 $section-margin-lr;
    color:$primary-color;
    background-color:rgba(33, 33, 33, 0.9);
    z-index: 999;
   
    .logo-wrapper{
        @include mobile-only{
            width: 30%;
        }
        h2{
            @include mobile-only{
                font-size: 16px;
            }
        }
    }
  

    .navbar{
        display: flex;
        justify-content: space-between;
        width: fit-content;
        min-width: 40%;
        // width: 40%;
        gap: 3%;
        list-style-type: none;
        padding: 0;
        @include mobile-only{
            // display: none;
            font-size: 12px;
            // justify-content: flex-start;
            min-width: none;
        }
        &__item{
            position: relative;
            height: 100%;
            &:after{
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #14FFEC;
                transform: scaleX(0);
                transition: transform 500ms;
                transform-origin: 100%;
            }
            &:hover{
                &:after{
                    transform: scaleX(1);
                }
            }
            &__link{
                text-decoration: none;
                color: $primary-color;
                transition: color 300ms;
                
                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
    @include tablet-only{
        position: relative;
        width: calc(100% - ($section-margin-lr-mobile * 2));
        // width: auto;
        padding: 0 $section-margin-lr-mobile;
    }
}