$bg-primary:#212121;
$primary-color:#0D7377;
$secondary-color: #14FFEC;
$font-primary:#E5E5E5;
$decoration-primary:#FF66CC;

$linear: linear-gradient($decoration-primary, $bg-primary);


$section-margin-lr: 8%;
$section-margin-lr-mobile: 2%;

// @mixin section-margin-lr{

// }


// @include tablet-only{
//     $section-margin-lr: 3px;
// }




@mixin  tablet-only {
    @media all and (max-width:830px) {
        @content;
    }    
}

@mixin  mobile-only {
    @media all and (max-width:660px) {
        @content;
    }    
}

body{
    background-color:$bg-primary;
    color: $font-primary;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: 100%;
    height: 100%;    
    // @include small-mobile{
    //   text-align: center;
    //   width: fit-content;
    //   // padding: 0 3rem;
    // }
    overflow-x: hidden;

    @include mobile-only(){
    }
}


@import "./layout/navbar";
@import "./layout/header";
@import "./layout/section";
@import "./layout/footer";

@import "./components/buttons";
@import './components/card';
@import "./components/container";








#root{
    position: relative;
    height: 100%;
    width: 100%;
    .App{
        position: relative;
        height: 100%;
    width: 100%;
    }
}



.decoration{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile-only{
        display: none;
    }
    &__text{
        font-family: 'Train One', cursive;
        color: $decoration-primary;
        text-shadow: 12px 12px 60px $decoration-primary;
        writing-mode: vertical-rl;
        font-size: 70px;
    }
}


